.html
/* Loading fonts */

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('./fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('./fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('./fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

/* General css */

body {
    font-family: 'BarlowSemiCondensed';
    position: absolute;
    top: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.clear {
    clear: both;
}

element.style {
    position: relative;
}

div {
    display: block;
}

/*Gender componentsCSS*/

#gender_ratio {
    position: relative;
    background: red;
}

#svg_male svg,
#svg_female svg {
    width: 100px;
    height: 100%;
}

#back-button svg,
#forward-button svg {
    width: 25px;
    height: 25px;
}




.gender_ratio {
    margin: auto;
    position: relative;
    width: 100px;
    margin-top: 15px;
}

.female_ratio,
.male_ratio {
    text-align: center;
}

#svg_male svg:hover,
#svg_female svg:hover {
    filter: grayscale(0.5);
    cursor: pointer;
}


/*chart titles CSS*/

.center_text {
    text-align: center;
}

.title {
    /*display:none;*/
    font-size: 15pt;
}

.title_2 {

    font-size: 10pt;
}

/* Sections */

.Sections {

    float: right;
    position: relative;
    /* needed for IE 6 */
}

.section_chart {
    width: 300px;
    max-width: 300px;
    max-height: 280px;
}

.textSectionsDivs {
    text-align: center;
    font: 14px/16px Arial, Helvetica, sans-serif;
}

/* Table container */

.table-container {
    position: relative;
    max-width: 1100px;
    width: 1100px;
    margin: auto;
}

td {
    vertical-align: top;
    /*border:1px solid #000;*/
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.timeseries_chart {
    width: 670px;
    height: 240px;
}


/* type chart */

#level_chart {
    position: relative;
    height: 60px;
    max-height: 60px;

}

#level_chart:hover,.timeseries_chart:hover,.section_chart:hover {
    cursor: pointer;

}

/* Caption + Toolbox*/

.viz_caption {
    position: relative;
    float: left;

    font-size: 20pt;
    font-weight: bold;
    padding-left: 20px;
}

.toolbox {
    position: relative;
    float: right;
}

.tool-but {
    position: relative;
    float: left;
    color: #FFF;
    border: none;
    background-color: #D80027;
    outline: none;
    margin-right: 5px;
    height: 20pt;
    margin-top: 2px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 0px
}

.tool-but:hover {
    opacity: 0.9;
}


/* Map container */

.table-container td #map {
    position: relative;
    /*height: 300px;*/
    width: 600px;
}

.info_legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info_legend h4 {
    margin: 0 0 5px;
    color: #777;
}


#map {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.0);
}


.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

/* Overriding c3 css */

.c3-grid .c3-xgrid-focus {
    visibility: hidden !important;
}

.c3-tooltip-container {
    display: none;
}

.c3-chart-arcs-title {

    overflow: scroll;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}


/*Discover CSS*/

#discover_text {
    padding-left: 20px;
    padding-top: 10px;
    /*opacity:0;*/
}




/* Slider CSS */

#slidecontainer {
    width: auto;
    text-align: center;
}
#year-display {
   vertical-align: super
}

 #slidecontainer svg:hover  { 

  filter: grayscale(0.5);
  cursor: pointer;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: red;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D80027;
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D80027;
    cursor: pointer;
}



/* Total student */

.total_student_count {
    position: relative;
    font-size: 30pt;
    font-weight: lighter;
    text-align: center;
}



.opacity-change {
    opacity: 0.1;
}



/*CSS popups*/

.popup{
    position:absolute;
    background:rgba(0,0,0,0.5);
    border-radius: 5px;
    color:#FFF;
    padding:5px;
    cursor: default;
    z-index:9999;
}
.popup:hover{
    opacity:0.5;
}

.discover-text{
    font-weight: bold;
}